<article>
  <h1>
    Technical Interview @ Kotis Design
  </h1>
  <section>
    <h1>Overview</h1>
    <p>
      The technical interview focuses on your ability to work with HTML, CSS, and Javascript within a Rails environment.
      Nothing about the evaluation is specific to Rails -- you may organize your files as you wish.
    </p>
    <p>
      There are two prompts:
      <ol>
        <li>Building a layout from a <i>detailed</i> wireframe -- an artist's mockup</li>
        <li>Using Javascript to manipulate the DOM.</li>
      </ol>
    </p>
    <p>
      You <i>may</i> use CSS libraries, Google Fonts, and other external resources to complete parts of the wireframe.
      <br />
      <br />
      Please <i>do not</i> use any Javascript libraries (React, etc) to complete the second prompt.
    </p>
  </section>
  <section>
      <h1>COMMIT EARLY AND OFTEN!</h1>
      By committing steps along the way, your thought process and coding process is shown and can explain context for
      wherever you leave off.
      <p>
        <strong>You will have THREE (3) hours to complete the tasks.</strong>  (Make sure your final commit is no later than 3 hours after your scheduled start time.)
        <br /> <br />
        When finished, ZIP the entire repository, including hidden files and directories, and send back to Xavie.
      </p>
  </section>
  <section>
    <ul>
      <li><%= link_to "Click for Task One", task_one_path %></li>
      <li><%= link_to "Click for Task Two", task_two_path %></li>
    </ul>
  </section>
</article>
