<article>
  <h1>Task One - CSS/HTML Markup</h1>
  <section>
    Your goal is to build out the following layout (between the two borders), using HTML and CSS best practices:
    <div style="border-top:1px solid #999; border-bottom:1px solid #999; margin:2em 0;">
      <%= image_tag "task_one/wireframe-mockup" %>
    </div>
  </section>
  <section>
    <h1>Requirements:</h1>
    <ul>
      <li>Use <%= link_to "Hind (Google Fonts)", "https://fonts.google.com/specimen/Hind" %> as your font family.</li>
      <li>Your layout should replace the contents of this page (or, at least be above the entire existing contents)</li>
      <li>Hovering over the black "Get Started" button should turn the button orange.</li>
      <li>The individual words at the top of the page should change to orange while hovering and should link to pages (defined below)</li>
      <li>Use semantic HTML elements, tags, ids, and classes. Attempt to use widely accepted best practices.</li>
      <li>Demonstrate your personal knowledge/skills of HTML and CSS.</li>
      <li><strong>All the images you need are in the "assets/images" directory</strong></li>
    </ul>
  </section>
  <section>
    <h1>Links:</h2>
    <ul>
      <li>"Kotis Design" Logo: https://go.kotisdesign.com</li>
      <li>"Software": https://go.kotisdesign.com/manage/</li>
      <li>"Services": https://go.kotisdesign.com/make/</li>
      <li>"Swag": https://go.kotisdesign.com/products/</li>
      <li>"Stories": https://go.kotisdesign.com/work/</li>
      <li>"About": https://go.kotisdesign.com/about/</li>
      <li>"Login": https://mykotis.kotisdesign.com/</li>
      <li>"Get Started" Buttons: https://kotisdesign.com/corporate/get-started</li>
    </ul>
  </section>
  <hr>
  <section>
    <h1>Finished?</h1>
    <p>When you're done with the task, commit your work and <%= link_to "move to Task Two", task_two_path %>.</p>
    Or, go <%= link_to "Back to Home", root_path %>
  </section>
</article>