<section>

<table>
  <tr>
    <th>Description</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
    <th>4XL</th>
    <th>5XL</th>
    <th>Qty</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>Unisex Next Level</td>
    <input>
  </tr>
  <tr>
    <td>Unisex Gildan</td>
  </tr>
  <tr>
    <td>Malibu Sunglasses</td>
  </tr>
    <td>Unisex Ultra Cotton Tee</td>
    <td>Athletic Mesh Two-Color</td>
    <td>Gildan 5.3oz Cotton Tee</td>
 
</table>
</section>