
<table>
<thead>
  <tr>
    <th>Description</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
    <th>4XL</th>
    <th>5XL</th>
    <th>Qty</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td>Unisex Next Level</td>
    <td><input type="text" name="size" value="0" form="order-form" /></td>
    <td><input type="text" name="size" value="0" form="order-form" /></td>
    <td><input type="text" name="size" value="0" form="order-form" /></td>
    <td><input type="text" name="size" value="0" form="order-form" /></td>
    <td><input type="text" name="size" value="0" form="order-form" /></td>
  </tr>
  <tr>
    <td>Unisex Gildan</td>
  </tr>
  <tr>
    <td>Malibu Sunglasses</td>
  </tr>
    <td>Unisex Ultra Cotton Tee</td>
    <td>Athletic Mesh Two-Color</td>
    <td>Gildan 5.3oz Cotton Tee</td>
 </tbody>
</table>
