
<table class="order-form">
<thead>
  <tr>
    <th>Description</th>
    <th style="width:30px">XS</th>
    <th style="width:30px">S</th>
    <th style="width:30px">M</th>
    <th style="width:30px">L</th>
    <th style="width:30px">XL</th>
    <th style="width:30px">2XL</th>
    <th style="width:30px">3XL</th>
    <th style="width:30px">4XL</th>
    <th style="width:30px">5XL</th>
    <th style="width:30px">Qty</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td>Unisex Next Level</td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="qty" value="0"/></td>
    <td><input type="number" class="total" name="total" value="0"/></td>

  </tr>
  <tr>
    <td>Unisex Gildan</td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="size" value="0"/></td>
    <td><input type="number" class="size" name="qty" value="0"/></td>
    <td><input type="number" class="total" name="total" value="0"/></td>
  </tr>
  <tr>
    <td>Malibu Sunglasses</td>
   <td><input type="number" class="size disabled" name="size" value="0"/></td>
    <td><input type="number" class="size disabled" name="size" value="0"/></td>
    <td><input type="number" class="size disabled" name="size" value="0"/></td>
    <td><input type="number" class="size disabled" name="size" value="0"/></td>
    <td><input type="number" class="size disabled" name="size" value="0"/></td>
    <td><input type="number" class="size disabled" name="size" value="0"/></td>
    <td><input type="number" class="size disabled" name="size" value="0"/></td>
    <td><input type="number" class="size disabled" name="size" value="0"/></td>
    <td><input type="number" class="size disabled" name="size" value="0"/></td>
    <td><input type="number" class="size" name="qty" value="0"/></td>
    <td><input type="number" class="total" name="total" value="0"/></td>
  </tr>
    <td>Unisex Ultra Cotton Tee</td>
    <td>Athletic Mesh Two-Color</td>
    <td>Gildan 5.3oz Cotton Tee</td>
 </tbody>
</table>
